<% unavailable_schedules.each do |item| %>
  <div class="outside unavailable"
         style="--start: <%= get_display_hour item.started_time, type %>;
                --end: <%= get_display_hour item.finished_time, type %>">
  </div>
<% end %>
